@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MySolis';
  src: url('./Solis-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:  "Dosis", 'MySolis', 'Arial', 'Roboto', 'Helvetica Neue', 'Arial', 'Helvetica',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
}

.rt-PopperContent[data-state='open'], .rt-BaseMenuContent[data-state='open'], .data-radix-popper-content-wrapper {
  border-top: 3px solid rgb(240, 85, 20) ;
  border-radius: 0 0 4px 4px;
}


.rt-TextFieldRoot {
  z-index: 40 !important;
}

.rt-BaseMenuViewport{
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.data-radix-popper-content-wrapper {
  border-radius: 0px 0px 3px 3px !important;
}
